.App { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif; 
  height: auto; 
} 
 
.title { 
  font-size: 36px; 
  color: #333; 
  margin-bottom: 10px; 
  text-align: center; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
} 
 
.centered-container { 
  border-radius: 10px; 
  padding: 20px; 
  margin: auto;  
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
} 
 
.form { 
  background-color: #ffffff; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  padding: 2rem; 
  width: 80rem; 
  height: 100%;  
  margin: auto; 
} 
 
@media screen and (max-width: 768px) { 
  .horizontal-fields { 
    flex-direction: column; 
  } 
 
  .field { 
    margin-top: 1rem; 
  } 
 
  button { 
    margin-left: 0; 
    margin-right: 0; 
  } 
} 
 
label { 
  display: block; 
  font-size: 0.9rem; 
  color: #333; 
  font-weight: bold;   
  margin-top: 0.5rem; 
  margin-bottom: 0.3rem; 
} 
 
input[type="int"], 
input[type="decimal"], 
input[type="text"], 
input[type="date"], 
input[type="number"], 
select, 
textarea { 
  width: 100%; 
  padding: 0.8rem; 
  border: 1.5px solid #ccc; 
  border-radius: 4px; 
  font-size: 0.9rem; 
  justify-content: space-between; 
} 
 
select { 
  width:100%; 
  padding: 0.8rem; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 0.9rem;  
  max-width: 92%;   
  justify-content: space-between; 
} 
 
textarea { 
  resize: vertical; 
} 
 
.form-group { 
  margin-bottom: 1rem; 
  width: 100%;   
  margin-top: 1rem; 
} 
 
.horizontal-fields { 
  display: flex; 
  justify-content: space-between; 
} 
 
.horizontal-fields .field { 
  flex-basis: calc(25% - 10px); 
} 
 
.horizontal-fields .form-group { 
  flex-basis: calc(25% - 10px); 
} 
 
.field { 
  flex: 1; 
  margin-right: 3rem; 
  margin-top: 1rem; 
} 
 
.radio-group { 
  display: flex;   
  margin-top: 0.5rem; 
 
} 
 
.radio-group label { 
  vertical-align: middle; 
} 
 
.btn { 
  margin-top: 2rem; 
  text-align: right; 
} 
 
button { 
  padding: 0.8rem 1.5rem; 
  margin-left: 3rem; 
  margin-right: 2rem; 
  background-color: #810b56; 
  color: #fff; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 0.9rem; 
  transition: background-color 0.2s ease-in-out;   
} 
 
button:hover { 
  background-color: #6b0a4b; 
} 
 
h1 { 
  font-size: 25px; 
  color: #333; 
  margin-bottom: 0.5rem; 
  margin-top: 1rem; 
  text-align: center; 
  text-transform: uppercase; 
} 
 
.input-container { 
  margin-top: 2rem; 
} 
 
.input-container input[type="text"] { 
  width: 100%; 
  padding: 0.8rem; 
  border: 1.5px solid #ccc; 
  border-radius: 4px; 
  font-size: 0.9rem; 
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem; 
  transition: border-color 0.3s ease-in-out; 
} 
 
.input-container input[type="text"]:focus { 
  border-color: #810b56; 
} 
 
.input-text { 
  width: calc(25% - 15px); 
  margin-right: 15px; 
  margin-bottom: 10px; 
  padding: 8px; 
  border: 1.5px solid #ccc; 
  border-radius: 4px; 
  font-size: 0.9rem; 
  transition: border-color 0.3s ease-in-out; 
} 
 
.input-text:focus { 
  border-color: #810b56; 
} 
 
.field-container { 
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 10px; 
  flex-basis: calc(25% - 10px); 
} 
 
.submit-button { 
    display: block; 
    padding: 10px 20px; 
    background-color: #810b56; 
    color: #fff; 
    text-decoration: none; 
    text-align: center; 
    align-items: right; 
    width:5%; 
    height: 15%; 
    border-radius: 0.5rem; 
    transition: background-color 0.3s ease; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  } 
 
.submit-button:hover { 
    background-color: #6b0a4b; 
  } 
 
p.copyright-text { 
  margin-top: 1rem; 
  font-size: 0.8rem; 
  color: #333;   
  font-weight: bold; 
}